.all-projectsPage {
    display: flex;
    justify-content: center;
    height: 91vh;
    overflow: hidden;
}

.window-projectsPage {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background-color: var(--theme);
    backdrop-filter: blur(10px);
    border: var(--borderTheme);
    box-shadow: 8px 10px 20px -2px rgba(0, 0, 0, 0.6);
}

.content-projectsPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--theme);
    border-radius: 0 0 15px 15px;
    padding: 2%;
    overflow-y: auto;
}

.header-projectsPage {
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 0 2%;
  border-bottom: 1px solid var(--altRow);
}

.headerLeft-projectsPage {
  width: 5%;
  display: flex;
  justify-content: flex-start;
}

.addProjectBtn-projectsPage {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--textTheme);
}

.headerCols-projectsPage {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 16% 12% 18% 5%;
  align-items: center;
  font-size: 13px;
  opacity: 0.7;
}

.headerRight-projectsPage {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.search-projectsPage {
  width: 100%;
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid var(--placeholderTheme);
  background-color: transparent;
  color: var(--textTheme);
}

.search-projectsPage::placeholder {
    color: var(--placeholderTheme);
}

.row-projectsPage {
  display: grid;
  grid-template-columns: 1fr 16% 12% 18% 5%;
  align-items: center;
  height: 34px;
  padding: 0 2%;
  border-radius: 6px;
}

.row-projectsPage:hover {
  background-color: var(--altRow);
  cursor: pointer;
}

.col-name-projectsPage {
  display: flex;
  align-items: center;
  gap: 8px;
}

.col-status-projectsPage.pinned {
  color: gold;
}

.col-status-projectsPage.completed {
  opacity: 0.6;
}

.col-status-projectsPage.archived {
  opacity: 0.4;
}
