.all-projectsPage {
    display: flex;
    justify-content: center;
    height: 91vh;
    overflow: hidden;
}

.window-projectsPage {
    display: flex;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background-color: var(--theme);
    backdrop-filter: blur(10px);
    border: var(--borderTheme);
    box-shadow: 8px 10px 20px -2px rgba(0, 0, 0, 0.9);
}