.board-total {
  width: 96%;
  height: 96%;
  margin: 2%;
  overflow-y: auto;
  position: relative;
}

.board-tab {
  column-count: 3;
  column-gap: 2vh;
}

.board-image {
  width: 100%;
  height: auto;
  display: block;
  break-inside: avoid;
  page-break-inside: avoid;

  margin-bottom: 2vh;
  border-radius: 6px;
  transition: transform 0.2s;
}

.board-image:hover {
  cursor: pointer;
}

.board-image-wrapper {
  position: relative;
  width: 100%;
  break-inside: avoid;
  margin-bottom: 10px;
}

/* Delete button container */
.delete-image-btn {
  position: absolute;
  top: 6px;
  right: 6px;

  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 500px;

  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Reveal on hover */
.board-image-wrapper:hover .delete-image-btn {
  opacity: 1;
  transform: scale(1);
}

/* Hover effect */
.delete-image-btn:hover {
  background: rgba(255, 69, 58, 0.9);
}