.all-calendarPage {
  display: flex;
  justify-content: center;
  height: 91vh;
}

.window-calendarPage {
  display: flex;
  width: 90%;
  height: 90%;
  gap: 1vw;
}

.panel-calendarPage {
  display: flex;
  flex-direction: column;
  min-width: 17%;
  max-width: 17%;
  padding: 2%;
  border-radius: 15px;
  background-color: var(--theme);
  backdrop-filter: blur(10px);
  box-shadow: 8px 10px 20px -2px rgba(0, 0, 0, 0.6);
  border: var(--borderTheme);
}

.calendar-calendarPage {
  display: flex;
  flex: 1;
  border-radius: 15px;
  background-color: var(--theme);
  backdrop-filter: blur(10px);
  box-shadow: 8px 10px 20px -2px rgba(0, 0, 0, 0.6);
  border: var(--borderTheme);
  overflow: hidden;
}

.mainColumn-calendarPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.options-calendarPage {
  padding: 0.8rem 1.2rem 0;
  border-bottom: var(--borderTheme);
  z-index: 1;
}

.grid-calendarPage {
  flex: 1;
  background-color: var(--theme);
  overflow-y: hidden;
  z-index: 3;
}

.rightPanel-calendarPage {
  width: 23%;
  min-width: 23%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--theme);
  box-shadow: -6px 1px 16px -5px rgba(0, 0, 0, 0.3);
  border-left: var(--borderTheme);
  z-index: 4;
}