.all-searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}

.icon-searchBar {
    height: 4vh;
    user-select: none;
    fill: var(--textTheme);
}

.iconLeft-seacrhBar {
    margin-left: 4%;
}

.iconOn-searchBar {
    height: 3vh;
}

.iconRight-searchBar {
    height: 2.7vh;
}

.search-searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2% 8% 2% 8%;
    margin: 0 0 0 0;
    background-color: var(--theme);
    backdrop-filter: blur(10px);
    box-shadow: 5px 7px 12px -3px rgba(0, 0, 0, 0.49);
    border-radius: 500px;
    border: var(--borderTheme);
}

.search-searchBar input {
    margin: 0 4% 0 4%;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255, 0);
    color: var(--textTheme);
}

.search-searchBar input::placeholder {
    color: var(--placeholderTheme);
}

.search-searchBar svg {
    height: 100%;
    user-select: none;
    fill: var(--textTheme);
}