.all-projectsMobile {
  width: 100%;
  height: calc(100dvh - 70px);
}

.headerBar-projectsMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 92vw;
  height: 5dvh;

  padding: 1dvh 4vw;
  gap: 4vw;
}

.headerBar-projectsMobile input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1000px;
    background-color: var(--theme);
    border: 1px solid var(--placeholderTheme);
    color: 1px solid var(--textTheme);
    height: calc(5dvh - 2px);
    flex-grow: 1;
    padding: 0 4vw;
    outline: none;
    font-size: 18px;
}

.headerBar-projectsMobile input::placeholder {
    color: var(--placeholderTheme);
}

.content-projectsMobile {
  width: 92vw;
  max-height: calc(92dvh - 70px);
  padding: 1dvh 4vw 0 4vw;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.project-card-mobile {
  width: 82vw;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5vw;

  border-radius: 12px;
  margin-bottom: 12px;

  background: var(--theme);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid var(--borderTheme);
  color: var(--textTheme);

  cursor: pointer;
}

.project-left-mobile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.project-emoji-mobile {
  font-size: 1.6rem;
}

.project-name-mobile {
  font-size: 1rem;
  font-weight: 500;
}

.project-status-mobile {
  font-size: 1.2rem;
}

.statusIcon-projectsMobile {
  width: 3vh;
  height: 3vh;
  color: var(--placeholderTheme);
}