.all-projectsMobile {
  width: 100%;
  height: calc(100dvh - 70px);
  background-color: blue;
}

.content-projectsMobile {
  width: 92vw;
  height: calc(93dvh - 70px);
  padding: 0 4vw;
  background-color: red;
}