.headerBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 90vw;
  height: 4vh;

  padding: 1vh 5vw;
}

.headerAvatar {
  width: 4vh;
  height: 4vh;

  border-radius: 50%;

  background-size: cover;
  background-position: center;

  cursor: pointer;
}