.headerBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 90vw;
  height: 6vh;

  padding: 0 5vw;
}

.headerAvatar {
  width: 36px;
  height: 36px;

  border-radius: 50%;

  background-size: cover;
  background-position: center;

  cursor: pointer;
}