.headerBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 96vw;
  height: 5dvh;

  padding: 1dvh 2vw;
}

.headerAvatar {
  width: 5dvh;
  height: 5dvh;

  border-radius: 50%;

  background-size: cover;
  background-position: center;

  cursor: pointer;
}