body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-image: url('/public/Images/backgroundImage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: background-image 0.3s ease;
}

.app-container {
  display: flex;
}

.content {
  margin-left: 15vw;
  padding: 9vh 0 0 0;
  transition: margin-left 0.3s ease;
  width: 85vw;
}

.content.collapsed {
  margin-left: 5vw;
  width: 95vw;
}

.header-homePage {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 15vw;
  top: 3vh;
  left: 0;
  right: 0;
  height: 3vh;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
}

.header-homePage.home-page {
  top: 50vh;
}

.header-homePage.collapsed {
  margin-left: 5vw;
}

.resultsScroll-homePage {
  display: flex;
  flex-direction: column;
  padding: 1%;
  position: absolute;
  top: 9vh;
  width: 48%;
  max-height: 45%;
  background-color: var(--theme);
  backdrop-filter: blur(10px);
  box-shadow: 5px 7px 12px -3px rgba(0, 0, 0, 0.49);
  border: var(--borderTheme);
  border-radius: 15px;
  margin-left: 32.5vw;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
  z-index: 100000000;
  color: var(--textTheme);
}

.resultsScroll-homePage.collapsed {
  margin-left: 27.5vw;
}

.result-homePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

/* Firefox 
.result-homePage {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

Edge and IE
.result-homePage {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
*/

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(160,160,160,0.8);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(136,136,136,0.8);
}

.result-homePage p {
  margin: none;
}

.aResult-homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1vw 0 0;
  padding: 1%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.aResult-homePage:hover {
  background-color: var(--buttonColor);
  color: var(--hoverTextColor);
  cursor: pointer;
  stroke: #ffffff;
}

.aResult-url {
  margin: 0;
}

.resultIcon-homePage {
  width: 1vw;
  margin: 0 1vw 0 0;
  stroke: #888888;
  user-select: none;
}

.aResultUser-homePage {
  text-decoration: none;
  color: var(--textTheme);
}

.resultUserInfo-homePage {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.aResultUser-homePage h3 {
  font-size: 1.1rem;
  margin: 0;
  text-decoration: none;
}

.aResultUser-homePage p {
  font-size: 0.9rem;
  margin: 0;
  text-decoration: none;
}

.resultPicture-homePage {
  width: 3vw;
  height: 3vw;
  margin: 0 1vw 0 0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.noResult-homePage {
  display: none;
}

.pod-musicPage {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 45vh;
  width: 12vw;
  background-color: var(--theme);
  top: 5vh;
  right: 5vh;
  box-shadow: 8px 10px 20px -2px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 2px solid var(--buttonColor);
  align-items: center;
  padding: 1%;
}

.podCover-musicPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  background-color: var(--theme);
  align-items: center;
  justify-content: center;
  border: 2px solid var(--buttonColor);
}

.podLancherix-musicPage {
  width: 60%;
}

.podBottom-musicPage {
  display: flex;
  width: 100%;
  height: 35%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.podTimeline-musicPage {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: black;
  margin: 10% 0 2% 0;
}

.podControls-musicPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.podPlay-musicPage {
  width: 35%;
}

.podSkip-musicPage {
  width: 25%;
}

.no {
  display: none !important;
}

.aResult-homePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1vw 0 0;
  padding: 1%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

.aResult-homePage p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: inherit;
}

.aResult-homePage:hover {
  background-color: var(--buttonColor);
  color: var(--hoverTextColor);
  cursor: pointer;
  text-decoration: none;
}

.resultIcon-homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  width: 3vw;
  height: auto;
  margin: 0 1vw 0 0;
  font-size: 1.5rem;
}